@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
	--main-radius: 5px;
    --main-padding: 0rem;
	--text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #1c2122cb;
	--bg-tertiary: #2c2c39;
    --transition-speed: 600ms;
}

body {
  /* font */
  height: 100%;
  margin: 0;
  font-family: "Pixelify Sans";
  font-weight:600;
  box-sizing: border-box;
  background-color: black;
}

.app {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1.5fr 1.2fr 0.2fr;
	grid-template-areas:
		"header header header header"
		"sidebar main main main"
		"sidebar main main main"
		"footer footer footer footer";
	color: #e2f6f3;
	gap: 0.18rem;
}

header {
    grid-area: header;
	background-color: var(--bg-primary);
}

#hero {
	background: #b292c3;
    grid-area: hero;
}

main {
    background: #98a8a8;
    grid-area: main;
}
  
#sidebar {
    background: #1b2ba2;
    grid-area: sidebar;
}

footer {
    background: #7846e5;
    grid-area: footer;
}